/*
#0D0D0D
#F2F2F2
#A6A6A6
#CCD9D7
#618C88
#252525
*/

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,800;1,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");

:root {
  /* -------- Colors ------- */

  --Color-Primary: #618c88;
  --Color-Highight: #ffffff;
  --Color-dark: #0d0d0d;
  --Color-Background: #f2f2f2;
  --Color-Container: #ffffff;
  --Color-Dark-Overlay: #000000b3;
  --Color-Light-Overlay: #ffffff70;
  --Color-Text-Title: #618c88;
  --Color-Text-Sub_Title: #252525;
  --Color-Text-Text: #383838;
  --Color-Links: #618c88;
  --Color-Links-hover: #252525;

  /* -------- Fonts -------- */

  /* --Font: "Raleway", sans-serif; */
  --Font: "Assistant", sans-serif;

  --Font-size-Text-Title: 2.5rem;
  --Font-size-Text-Sub_Title: 1.1rem;
  --Font-size-Text-Text: 0.9rem;
  --Font-weight-Light: 400;
  --Font-weight-Bold: 800;

  /* -------- Shadow -------- */

  --Shadow: 1px 2px 5px #00000027;

  /* -------- Button -------- */

  --Color-Button: #618c88;
  --Color-Button-Text: #f2f2f2;
  --Color-Button-hover: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--Font);
}

li {
  list-style-type: none;
}

/* ---------------------- Header */
header {
  background-color: var(--Color-Highight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px 4%;
  z-index: 5;
  box-shadow: var(--Shadow);
}
.logo {
  height: 40px;
}
header nav {
  display: grid;
  place-content: center;
  margin: auto;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_links {
  display: grid;
  place-content: center;
  margin: 0 10px;
}
header nav ul li a {
  text-decoration: none;
  color: var(--Color-Links);
  font-size: var(--Font-size-Text-Text);
  font-weight: var(--Font-weight-Bold);
}
header nav ul li a:hover {
  text-decoration: none;
  color: var(--Color-Links-hover);
  text-decoration: underline 3px var(--Color-Links);
}

.boutique {
  border: solid 3px var(--Color-Primary);
  color: var(--Color-Primary);
  padding: 10px 35px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: var(--Font-weight-Bold);
}

.boutique:hover {
  background-color: var(--Color-Primary);
  color: var(--Color-Highight);
}

header img {
  height: 100%;
}

.fa-bars {
  margin-right: 20px;
  font-size: 25px;
  display: none;
  z-index: 8;
}
#menu_bar {
  display: none;
}

/* ---------------------- Accueil */
#Accueil.section {
  display: grid;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("./img/STABILA_cover.jpeg");
  text-align: center;
  background-repeat: no-repeat;
}

#Accueil.section .overlay {
  background-color: var(--Color-Dark-Overlay);
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  color: var(--Color-Highight);
  position: absolute;
  z-index: 3;
  border-bottom: solid 5px white;
}

#Accueil.section .overlay h1 {
  margin-top: 70px;
  font-size: 7rem;
  text-decoration: 15px underline;
  letter-spacing: 5px;
}
#Accueil.section .overlay h2 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
}
/* ------ */
.slider {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: slider 25s infinite;
}
.slider figure .slide {
  width: 20%;
  float: left;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.i1 {
  background-image: url("./img/STIHL_slider.jpg");
}
.i2 {
  background-image: url("./img/METABO_slider.jpg");
}
.i3 {
  background-image: url("./img/STABILA_slider.png");
}
.i4 {
  background-image: url("./img/HADEF_slider.jpg");
}
.i5 {
  background-image: url("./img/STIHL_slider.jpg");
}
/* ---------------------- Marque */

#Marque.section {
  background-color: var(--Color-Highight);
  display: grid;
  min-height: 65vh;
  scroll-margin-top: 140px;
  border-bottom: solid 5px #a54848;
  border-top: solid 5px #a54848;
}
#Marque.section .overlay {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 220px);
  padding: 50px 20px;
  grid-gap: 40px;
  height: 100%;
  width: 100%;
}

#Marque img {
  width: 220px;
  border-radius: 7px;
}

#HADEF_details,
#STABILA_details,
#METABO_details,
#STIHL_details {
  display: none;
}

#HADEF_details:target,
#STABILA_details:target,
#METABO_details:target,
#STIHL_details:target {
  scroll-margin-top: 100px;
  display: grid;

  animation: view 500ms;
}

@keyframes view {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------- Detail */

#Details.section {
  min-height: 100vh;
  background-color: var(--Color-Highight);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("./img/STABILA_cover.jpeg");
  background-repeat: no-repeat;
  display: grid;
}
#Details.section .overlay {
  background-color: var(--Color-Dark-Overlay);
  display: grid;
  justify-content: center;
  align-items: center;
}
.produit_details {
  grid-template-columns: auto auto;
  background-color: var(--Color-Container);
  padding: 50px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 7%;
  border-radius: 7px;
}

.produit_details .banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 7px;
}

#METABO_details.produit_details .banner {
  background-image: url("./img/METABO_cover.jpg");
}
#STIHL_details.produit_details .banner {
  background-image: url("./img/STIHL_cover.jpeg");
}
#STABILA_details.produit_details .banner {
  background-image: url("./img/STABILA_cover.jpeg");
}
#HADEF_details.produit_details .banner {
  background-image: url("./img/HADEF_cover.jpg");
}

.produit_details .banner .banner_overlay {
  background-color: var(--Color-Light-Overlay);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}
.produit_details .banner .banner_overlay img {
  border-radius: 7px;
  width: 200px;
}
.produit_details .content {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 10px;
}
.produit_details .content article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.produit_details .content .titre {
  font-size: var(--Font-size-Text-Title);
  color: var(--Color-Text-Title);
}
.produit_details .content .sous_titre {
  font-size: var(--Font-size-Text-Sub_Title);
  color: var(--Color-Text-Sub_Title);
}
.produit_details .content .description {
  font-size: var(--Font-size-Text-Text);
  color: var(--Color-Text-Text);
}
.produit_details .boutique {
  display: grid;
  place-content: center;
  width: 160px;
}
.produit_details .variantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.produit_details .variantes li {
  height: 80px;
}
.produit_details .variantes li img {
  height: 100%;
}

/* ---------------------- Atout */
#Atout.section {
  background-color: var(--Color-Highight);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  padding: 50px;
  border-bottom: solid 5px #a54848;
  border-top: solid 5px #a54848;
}
#Atout .atout_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  align-items: center;
  justify-content: stretch;
  gap: 20px;
  height: 270px;
  width: 300px;
}
#Atout h3 {
  font-size: 1.5rem;
  color: var(--Color-Text-Sub_Title);
}
#Atout hr {
  border: none;
  background-color: var(--Color-Text-Text);
  height: 2px;
  width: 80%;
  justify-self: center;
}
#Atout p {
  font-size: var(--Font-size-Text-Text);
  color: var(--Color-Text-Text);
}
.fa-people-carry {
  font-size: 70px;
  color: var(--Color-Primary);
}
.fa-ruler-horizontal {
  font-size: 70px;
  color: var(--Color-Primary);
}

.fa-award {
  font-size: 70px;
  color: var(--Color-Primary);
}

#Atout h5 {
  font-size: var(--Font-size-Text-Text);
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--Color-Text-Sub_Title);
  padding: 0 10%;
}
#Atout h5 b {
  color: #a54848;
}

#Atout .atout_container:hover .fa-people-carry {
  font-size: 70px;
  color: #a54848;
}
#Atout .atout_container:hover .fa-ruler-horizontal {
  font-size: 70px;
  color: #a54848;
}
#Atout .atout_container:hover .fa-award {
  font-size: 70px;
  color: #a54848;
}
/* ---------------------- blanc */
#blanc.section {
  /* background-image: url("./img/STABILA_cover.jpeg"); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  display: grid;
}
#blanc.section .overlay {
  background-color: var(--Color-Dark-Overlay);
  height: 100%;
}

#blanc.section.b1 {
  background-image: url("./img/METABO_cover.jpg");
}
#blanc.section.b2 {
  background-image: url("./img/STIHL_cover.jpeg");
}
#blanc.section.b3 {
  background-image: url("./img/HADEF_cover.jpg");
  background-position: left;
}
/* ---------------------- Historique */
#Historique.section {
  background-color: var(--Color-Highight);
  background-image: url("./img/Histoire.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  display: grid;
  scroll-margin-top: 80px;
  min-height: 100vh;
}
#Historique.section .overlay {
  background-color: var(--Color-Dark-Overlay);
  display: grid;
  place-content: center;
  padding: 100px 20%;
  height: 100%;
}
#Historique.section .overlay p {
  color: var(--Color-Highight);
  letter-spacing: 1px;
  font-size: var(--Font-size-Text-Text);
  line-height: 1.3rem;
}
/* --------------------------Contact */
#Contact {
  background-color: var(--Color-dark);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 30% auto auto;
  grid-template-areas:
    "f_s1 f_s2 f_s2"
    "f_s1 f_s3 f_s4"
    "f_s5 f_s5 f_s5";
  gap: 20px;
  color: var(--Color-Highight);
  padding: 60px 5% 10px 5%;
  line-height: 1.5rem;
  border-top: solid 5px white;
}

.f_s1 {
  grid-area: f_s1;
}
.f_s2 {
  grid-area: f_s2;
  padding: 10px;
}
.f_s3 {
  grid-area: f_s3;
  padding: 10px;
}
.f_s4 {
  grid-area: f_s4;
  padding: 10px;
}
.f_s5 {
  grid-area: f_s5;
  padding: 10px;
  display: grid;
}

#Contact img {
  width: 160px;
}

.f_titre {
  font-size: var(--Font-size-Text-Sub_Title);
  margin-top: 15px;
}

.f_apropos {
  font-size: var(--Font-size-Text-Text);
  margin-top: 10px;
}

.contact_info {
  font-size: var(--Font-size-Text-Text);
}

.f_menu {
  font-size: var(--Font-size-Text-Text);
}
.f_menu li {
  list-style-type: disc;
}

.f_menu a {
  text-decoration: none;
  font-weight: var(--Font-weight-Bold);
  color: var(--Color-Highight);
}
.f_menu a:hover {
  color: var(--Color-Primary);
}

.map {
  border-radius: 5px;
}

#Contact hr {
  border: none;
  background-color: var(--Color-Highight);
  height: 2px;
}
.social_media {
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.social_media a {
  color: var(--Color-Highight);
}

.social_media a:hover {
  color: var(--Color-Primary);
}
.copyrights {
  text-align: center;
  padding: 20px;
}

.fa-map-marker-alt,
.fa-envelope-open-text,
.fa-mobile-alt {
  color: var(--Color-Primary);
  font-size: 1rem;
  margin-right: 8px;
}

.b_contact {
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  /* ---------------- Detail */
  #Details.section {
    min-height: 40vh;
    background-color: var(--Color-Highight);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("./img/STABILA_cover.jpeg");
    display: grid;
  }
  #Details.section .overlay {
    background-color: var(--Color-Dark-Overlay);
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .produit_details {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin: 70px 20px;
    padding: 20px;
  }

  .produit_details .banner {
    height: 150px;
  }

  .produit_details .banner .banner_overlay {
    padding: 0px;
  }

  .produit_details .banner .banner_overlay img {
    width: 200px;
    margin-bottom: -270px;
  }

  .produit_details .content {
    padding: 90px 10px 30px 10px;
  }
  .produit_details .content article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .produit_details .content .titre {
    font-size: var(--Font-size-Text-Title);
    color: var(--Color-Text-Title);
  }
  .produit_details .content .sous_titre {
    font-size: var(--Font-size-Text-Sub_Title);
    color: var(--Color-Text-Sub_Title);
  }
  .produit_details .content .description {
    font-size: var(--Font-size-Text-Text);
    color: var(--Color-Text-Text);
  }
  .produit_details .boutique {
    display: grid;
    place-content: center;
    width: 100%;
  }
  .produit_details .variantes {
    gap: 30px;
  }
  .produit_details .variantes li {
    height: 70px;
  }
  .produit_details .variantes li img {
    height: 100%;
  }

  /* ---------------- contact */
  #Contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .social_media {
    font-size: 40px;
  }

  /* ---------------- historique */

  #Historique.section .overlay {
    padding: 100px 20px;
  }
  #Historique.section .overlay p {
    font-size: var(--Font-size-Text-Text);
    line-height: 1.2rem;
  }

  /* ---------------- atout */
  #Atout h5 {
    padding: 10px;
  }

  /* ---------------------- Header */

  header {
    padding: 20px 5%;
  }
  header nav {
    position: fixed;
    background-color: var(--Color-Highight);
    top: 0px;
    bottom: 0px;
    left: -100%;
    display: grid;
    place-content: initial;
    z-index: 6;
    transition: 300ms;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 20px;
    padding: 100px 100px 0px 15px;
    box-shadow: var(--Shadow);
  }
  .nav_links {
    display: grid;
    place-content: center;
    margin: 0 10px;
  }
  header nav ul li a {
    text-decoration: none;
    color: var(--Color-Links);
    font-weight: var(--Font-weight-Bold);
  }
  header nav ul li a:hover {
    text-decoration: none;
    color: var(--Color-Links-hover);
    text-decoration: underline 3px var(--Color-Links);
  }

  .boutique {
    border: solid 3px var(--Color-Primary);
    color: var(--Color-Primary);
    padding: 10px 35px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: var(--Font-weight-Bold);
    margin-left: auto;
  }

  .boutique:hover {
    background-color: var(--Color-Primary);
    color: var(--Color-Highight);
  }

  header img {
    height: 100%;
  }

  .fa-bars {
    display: block;
  }

  #menu_bar:checked ~ .logo {
    margin-left: 35px;
  }
  #menu_bar:checked ~ label .fa-bars {
    position: absolute;
    top: 30px;
  }

  #menu_bar:checked ~ .sidemenu {
    left: 0px;
    transition: 300ms;
  }
}
